/* ========================================================================== */
/* Import Google fonts */
/* ========================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


input[type="number"] {
  max-width: 90%;
}





/* ========================================================================== */
/* Customize the navbar background and font */
/* ========================================================================== */

/* Overall navbar appearance */
.navbar {
  background-color: #f2f8f2;  /* light green */
}

/* The title/logo styling */
.navbar-brand {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
  margin: 10px 0;
}

.navbar-brand h1 {
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #5ca060;
  padding: 20px 0;
}



/* Adjust menu positioning */
.navbar-nav {
  margin-top: 20px !important;  /* Push menu down to center vertically */
  margin-left: -20px !important;
}

/* Inactive tabs */
.navbar-nav > li > a {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400 !important; 
  color: #0065a4 !important;
  background-color: transparent;
  border-radius: 5px;
  padding: 10px !important;  /* Increase padding for better spacing */
}

/* Hover effect for inactive tabs */
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  font-weight: 700 !important;
  color: #5ca060 !important;
  background-color: #e8f5e8 !important;
  
}

/* Active tab */
.navbar-nav > li.active > a,
.navbar-nav > li.active > a:hover,
.navbar-nav > li.active > a:focus {
  font-weight: 700 !important;
  color:  #864f83 !important; /* CCRC purple */
  background-color: #31a2b6 !important;
  border: none !important;
}





/* ========================================================================== */
/* Customize fonts */
/* ========================================================================== */

h2 { 
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 900; 
  color: #5ca060;  /* CCRC green */
  margin: 0 20px;
  padding-bottom: 20px;
}

h3 { 
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #864f83;  /* CCRC purple */
  margin: 0 20px;
}

h4 {
  font-family: 'Lato', sans-erif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color:  #424c49;
  margin: 0 20px;
}

body, p { 
  font-family: 'Merriweather', serif;
  font-size: 14px;
  font-weight: 300;
  color: #424c49;
  margin: 0 20px;
}

label, input, button, select { 
  font-family: 'Merriweather', serif;
  font-size: 14px;
  font-weight: 300;
  color: #424c49;
  margin: 0 20px;
}





/* ========================================================================== */
/* Customize hyperlink text */
/* ========================================================================== */

a { 
  color: #0065a4;  /* CCRC blue */
  font-weight: 400; 
}

/* change hyperlink hover text */
a:hover {
  color: #864f83;  /* CCRC purple */
  text-decoration: underline;
}





/* ========================================================================== */
/* Change the appearance of controls */
/* ========================================================================== */

#controls {
  /* Appearance */
  background-color: #dff3f6;
  border: 1px solid #31a2b6;
  padding: 0 20px 20px 20px;
  cursor: move;
  
  /* Fade out while not hovering */
  opacity: 0.8;
  zoom: 0.8;
  transition: opacity 200ms 600ms;
}


#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}





/* ========================================================================== */
/* Customize the Buttons */
/* ========================================================================== */

/* Style the Search button */
#search_btn {
  background-color: #5ca060 !important;  /* CCRC green */
  color: white !important;
  border: none !important;
}

#search_btn:hover {
  background-color: #4a824e !important;  /* Darker green on hover */
}

/* Style the Clear button */
.btn-clear {
  background-color: #31a2b6 !important;  /* CCRC teal */
  color: white !important;
  border: none !important;
}

.btn-clear:hover {
  background-color: #278191 !important;  /* Darker teal on hover */
}





/* ========================================================================== */
/* Position and style the footer */
/* ========================================================================== */


.app-footer {
  background-color: #f2f8f2;  /* light green */
  font-size: 12px;
  width: 100%;
  padding: 20px 0;
}





/* ========================================================================== */
/* Style the horizontal rule (hr) */
/* ========================================================================== */

hr {
  border: none;
  height: 1px;
  background-color: #5ca060;
  margin: 10px 0;
}





/* ========================================================================== */
/* If not using map tiles, show a white background */
/* ========================================================================== */

.mapbox-container {
  background-color: #f2f8f2 !important;
}
